.dashboard-container {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.search-bar {
  flex: 0 0 auto;
  padding: 20px;
  z-index: 1;
}

.movie-list {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}
