* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #45454d;
  font-family: 'Titillium Web', sans-serif;
}

:root {
  --time-move: 0px;
}

code {
  font-family: 'Titillium Web', sans-serif;
}

.tooltip {
  height: 100px;
  width: 100px;
}
